@model IEnumerable<Users>

@{
    ViewData["Title"] = "Users";
}
<h1 class="text-center">List of Registered Users</h1>

@if (Model.Any())
{
    <table class="table">
        <thead class="table table-dark">
            <tr>
                <th>Actions</th>
                <th>Email</th>
                <th>Standard Email</th>
            </tr>
        </thead>
        <tbody id="reordenable">
            @foreach (var users in Model)
            {
                <tr class="table-light">
                    <td>
                        <input type="hidden" value="@users.Id" class="ids" />
                        <a class="sizeFooter" asp-action="Modify" asp-route-id="@users.Id"><img src="https://cdn-icons-png.flaticon.com/128/6323/6323478.png" /></a>
                        <a class="sizeFooter" asp-action="Delete" asp-route-id="@users.Id"><img src="https://cdn-icons-png.flaticon.com/128/6805/6805398.png" /></a>
                    </td>
                    <td>
                        @users.Email
                    </td>
                    <td>
                        @users.StandarEmail
                    </td>
                </tr>
            }
        </tbody>
    </table>
}@if (!Model.Any())
{
    <h1>
        No results
    </h1>
}
